.calendar-header {
  background-color: #6924fe69;
  font-weight: bold;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.calendar-header > button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6924fe69;
  border: 0.2px solid #6924fe69;
  line-height: 24px;
  margin-top: 10px;
}
