.body {
  width: 700px;
  height: 700px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.week,
.prev-week,
.next-week {
  line-height: 30px;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.week:nth-child(7n) {
  color: blue;
}
.week:nth-child(7n + 1) {
  color: red;
}
.week:hover {
  cursor: pointer;
}
.next-week,
.prev-week {
  color: gray;
}
.select {
  background-color: gray;
}
.all-todo-list {
  height: 70px;
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all-todo-list::-webkit-scrollbar {
  display: none;
}

.all-todo {
  font-size: 15px;
}
.all-todo-select {
  font-size: 15px;
  text-decoration: line-through;
}
