.body {
  width: 700px;
  height: 700px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.body * {
  line-height: 30px;
  width: 100px;
  height: 100px;
}
.week:nth-child(7n) {
  color: blue;
}
.week:nth-child(7n + 1) {
  color: red;
}
.week:hover {
  cursor: pointer;
}
.next-week,
.prev-week {
  color: gray;
}
.select {
  background-color: gray;
}
