.todo-header {
  display: flex;
  flex-direction: column;
}
.todo-header > .add-todo {
  margin: auto;
  display: flex;
}
/*input*/
.input-todo {
  width: 600px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
}
.input-todo::placeholder {
  font-size: large;
}
.add-todo-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-todo-button:hover {
  background-color: #45a049;
}
